@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Gruppo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for body text */
html,
body {
  font-family: 'Gruppo', sans-serif;
  color: #D1D5DB; /* text-gray-300 */
  font-size: 0.875rem; /* text-sm */
  margin-bottom: 1.25rem; /* mb-5 */
}

@media (min-width: 768px) {
  body, p {
    font-size: 1rem; /* md:text-base */
  }
}

/* Global styles for headings */
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', sans-serif;
  color: #60A5FA; /* text-blue-400 */
  font-size: 1.25rem; /* Apply the same font size to all headings */
  font-weight: bold; /* font-bold */
  margin-bottom: 0.25rem; /* mb-1 */
  letter-spacing: 0.05em; /* tracking-wider */
  white-space: nowrap; /* whitespace-nowrap */
  text-transform: uppercase;
  text-decoration: underline; /* Add underline to all headings */
}

@media (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; /* xl:text-l (optional, adjust as needed) */
  }
}

/* Custom component styles using Tailwind CSS classes */
.btn {
  @apply bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-md;
}

.input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-md;
}

.error-message {
  @apply text-red-400 text-xs italic;
}

.label {
  @apply block text-custom-blue text-sm font-bold mb-2;
}

.font-bold {
  font-weight: bold;
}

.card {
  @apply shadow-xl rounded-lg px-8 pt-6 pb-8 mb-4 bg-dark-gray;
  max-width: 500px; /* Adjust this value as needed */
}

/* Glow effect for hover states */
.glow-on-hover {
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.glow-on-hover:hover {
  background-color: #1e40af; /* Adjust the color to match your theme */
  box-shadow:
    0 0 8px #fff,
    0 0 20px #1e40af; /* Blue glow */
}

.link {
  @apply bg-slate-700 hover:bg-slate-800 glow-on-hover transition duration-300;
}

.active-link {
  font-weight: bold;
  color: var(--custom-blue);
}

.inactive-link {
  color: var(--dark-gray);
}
