@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Orbitron', sans-serif;
}

.btn {
  @apply bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-md;
}

.input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-300 leading-tight focus:outline-none focus:shadow-md;
}

.error-message {
  @apply text-red-400 text-xs italic;
}

.label {
  @apply block text-custom-blue text-sm font-bold mb-2;
}

.font-bold {
  font-weight: bold;
}

.card {
  @apply shadow-xl rounded-lg px-8 pt-6 pb-8 mb-4;
  max-width: 350px; /* Adjust this value as needed */
}

/* Add this in your global CSS file */
.glow-on-hover {
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.glow-on-hover:hover {
  background-color: #1e40af; /* Adjust the color to match your theme */
  box-shadow:
    0 0 8px #fff,
    0 0 20px #1e40af; /* Blue glow */
}

.link {
  @apply bg-slate-700 hover:bg-slate-800 glow-on-hover transition duration-300;
}
